<!DOCTYPE html>
<html>
<head>

    <title>{xlt t='Practice Settings'}</title>

    <!-- {headerTemplate assets='bootstrap-sidebar|common'} -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{$GLOBALS.webroot}/public/assets/css/style.css">

    <!-- <link rel="stylesheet" href="{$GLOBALS.webroot}/public/assets/css/employee_dashboard_style.css"> -->
    <!-- <link rel="stylesheet" href="{$GLOBALS.webroot}/public/assets/css/emp_info_css.css"> -->

    <script src="{$GLOBALS.webroot}/public/assets/js/vue.js"></script>

</head>
<body class="body_top" >


<!-- <div class="container-fluid"> -->
    <!-- <div class="row"> -->
        <!-- <div class="col-xs-12 col-sm-2 sidebar sidebar-{$direction} sidebar-sm-show">
            <ul class="nav navbar-stacked">
                <li><a href="{$TOP_ACTION}pharmacy&action=list">{xlt t='Pharmacies'}</a></li>
                <li><a href="{$TOP_ACTION}insurance_company&action=list">{xlt t='Insurance Companies'}</a></li>
                <li><a href="{$TOP_ACTION}insurance_numbers&action=list">{xlt t='Insurance Numbers'}</a></li>
                <li><a href="{$TOP_ACTION}x12_partner&action=list">{xlt t='X12 Partners'}</a></li>
                <li><a href="{$TOP_ACTION}document&action=queue">{xlt t='Documents'}</a></li>
                <li><a href="{$TOP_ACTION}hl7&action=default">{xlt t='HL7 Viewer'}</a></li>
            </ul>
        </div> -->
        <div class="col-xs-12 ">
            <div class="page-header section-header">
                <!-- <h2>{$ACTION_NAME}</h2> -->
            </div>
            <div>
                {$display}
            </div>
        </div>
    <!-- </div> -->
<!-- </div> -->
</body>
</html>
